<div>
    {% for key, value in history.items %}
        {% if stock.ticker == key %}
            <!-- {{ key }}: {{ value }} -->
            <svg id="{{key}}" width="800" height="200"></svg>
            <script type="text/javascript">
            var price_history = {{ value | safe }};
            
            // svg tag selection
            var svg = d3.select("#{{ key }}"), 
            // Graph sets Margin
            margin = {top: 20, right: 20, bottom: 30, left: 50},
            // Exclude both margins from total width
            width = +svg.attr("width") - margin.left - margin.right, 
            // Exclude up and down margins from total heigth
            height = +svg.attr("height") - margin.top - margin.bottom,
            
            //<g>Tag and attribute in svg <g transform="translate(50,20)">
            g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");
            
            //x is time area 0~width
            var x = d3.scaleTime().rangeRound([0, width]);
            
            //y is a linear sequential time range height~0
            //The y-axis is at the top of the left (0,0). Figure so that as y increases, it goes down.
            var y = d3.scaleLinear().rangeRound([height, 0]);
                

            // Function to parse data
            function parsing_data(data){  
                ret_val = []; 
                var x;
                for (x in data) {
                var temp = {"date":new Date(data[x].date), "close":data[x].close_price}
                ret_val.push(temp); 
                } 
                return ret_val;
                // [{"date":2020-11-11, "close":292}, {"date":2020-11-12, "close":222}]
            };
            
            // Store parsed data in a variable called data
            var data = parsing_data(price_history);
            console.log(data);

            x.domain(d3.extent(data, function(d) { return d.date; }));
            y.domain(d3.extent(data, function(d) { return d.close; }));

            //x-axis
                g.append("g")
                    .attr("transform", "translate(0," + height + ")")
                    .call(d3.axisBottom(x))
                    .select(".domain")
                    .remove();
            //y-axis
                g.append("g")
                    .call(d3.axisLeft(y))
                    .append("text")
                    .attr("fill", "#000")
                    .attr("transform", "rotate(-90)")
                    .attr("y", 6)
                    .attr("dy", "0.71em")
                    .attr("text-anchor", "end")
                    .text("Price ($)");
            
            // graph
            var line = d3.line()
                .x(function(d) { return x(d.date); })
                .y(function(d) { return y(d.close); });
                
                g.append("path")
                .datum(data)
                .attr("fill", "none")
                .attr("stroke", "steelblue")
                .attr("stroke-linejoin", "round")
                .attr("stroke-linecap", "round")
                .attr("stroke-width", 1.5)
                .attr("d", line);
            </script>
        {% endif %}
    {% endfor %}
</div>
