
<!--

Stock List Template

Including this file results in a list of stocks displayed on the page using the stock objects located in "stocks"

-->

<script src="sorttable.js"></script>
<br>
<table class="sortable">
    <thead>
        <tr>
          <th>Stock</th>
          <th>Price</th>
          <th>Graph</th>
        </tr>
    </thead>
    <tbody>
    {% for stock in stocks %}
      <tr>
        <td><a href="/stock/{{ stock.ticker }}">{{ stock.ticker }}</a></td>
        <td>${{ stock.price }}</td>
        <td>{% include "smallgraph.html" with stock=stock history=history %}</td>
      </tr>
    {% endfor %}
    </tbody>
</table>
</br>
