{% extends "base_generic.html" %}

{% block content %}
  <h1>Wolves Den</h1>
  <p>The stock: {{ tick }} has the following analysis:</p>
  <ul>
    <li><strong>Current Price:</strong> {{ price }}</li>
    <li><strong>Alpha:</strong> {{ alpha }}</li>
    <li><strong>Beta:</strong> {{ beta }}</li>
    <li><strong>Sharpe Ratio:</strong> {{ sharpe }}</li>
      <li><strong>Sortino Ratio:</strong> {{ sortino }}</li>
    <li><strong>Price History: </strong></br> 
      <div id='graph' style="height: 500; width: 800;"></div>
      <script type="text/javascript">
          var price_history = {{ price_history|safe }};

          // Function to parse data
          function parsing_data(data){
            date_arr = [];
            close_arr = [];
            open_arr = [];
            adj_close_arr = [];
            high_arr = [];
            low_arr = [];
            
            var x;
            for (x in data){
              date_arr.push(data[x].date);
              close_arr.push(data[x].close_price);
              open_arr.push(data[x].open_price);
              adj_close_arr.push(data[x].adj_close);
              high_arr.push(data[x].high_price);
              low_arr.push(data[x].low_price);
            }

            return [date_arr, close_arr, open_arr, adj_close_arr, high_arr, low_arr];
          }
          
          // Store parsed data in a variable called data
          [date, close_price, open_price, adj_close_price, high_price, low_price] = parsing_data(price_history);

          var trace1 = {
            type: "scatter",
            mode: "lines",
            name: "close price",
            x: date,
            y: close_price,
            line: {color: '#FF0000'}
          }

          var trace2 = {
            type: "scatter",
            mode: "lines",
            name: "open price",
            x: date,
            y: open_price,
            line: {color: '#00FF00'}
          }
          var trace3 = {
            type: "scatter",
            mode: "lines",
            name: "adj_close price",
            x: date,
            y: adj_close_price,
            line: {color: '#0000FF'}
          }
          var trace4 = {
            type: "scatter",
            mode: "lines",
            name: "high price",
            x: date,
            y: high_price,
            line: {color: '#000F0F'}
          }
          
          var trace5 = {
            type: "scatter",
            mode: "lines",
            name: "low price",
            x: date,
            y: low_price,
            line: {color: '#17BECF'}
          }

          var data = [trace1, trace2, trace3, trace4, trace5];

          var layout = {
            title: "{{ tick }}",
          };

          Plotly.newPlot('graph', data, layout);

      </script>
      <a class="btn btn-primary" href="/stock/{{ tick }}?period=year">year</a>
      <a class="btn btn-primary" href="/stock/{{ tick }}?period=month">month</a>
      <a class="btn btn-primary" href="/stock/{{ tick }}?period=week">week</a>
    </li>
  </ul>
    {% if user.is_authenticated and not user_has_stock %}
    <form action='add' method='POST'>
    {% csrf_token %}
    <input type="number" id="quantity" name="quantity"><br><br>
    <button type='submit'> Add stock to portfolio</button>
    </form>
    {% endif %}
    {% if user.is_authenticated and user_has_stock %}
    <form action='change' method='POST'>
    {% csrf_token %}
    <input type="number" id="quantity" name="quantity"><br><br>
    <button type='submit'> Change quantity</button>
    </form>
    {% endif %}
{% endblock %}
